extends _layout.pug

block locals
  - var title = 'Hello Pug!';
block content
  h1 This is Template Page
  img(src="../img/icon.png", alt="icon image")
  img(src="../img/thumbnail.jpg", alt="thumnail image")